@import 'tailwindcss/base';
@import './fonts.css';
@import './docsearch.css';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  color-scheme: light dark;
}

.box-shadow-none {
  box-shadow: none !important;
}

p img {
  width: 100%;
}